<div class="card card text-white bg-secondary">
  <div class="card-header"><h5 class="card-title">{{issue?.issue_title}} |  <span class="text-success small"
    [ngClass]="{'text-danger': !issue?.open}">{{issue?.open ? 'open' : 'closed'}}</span></h5>
    <h6 class="card-subtitle">Status: {{issue?.status_text}}</h6>
  </div>
  <div class="card-body pb-0 pt-0">
    <div class="row justify-content-between mt-1">
      <small> <strong>Created By: </strong>{{issue?.created_by}}</small>
      <small><strong>Assigned To: </strong>{{issue?.assigned_to}}</small>
    </div>
    <div class="row justify-content-between mt-1 mb-0">
      <small><strong>Created On: </strong>{{issue?.created_on?.substring(0,10)}}</small>
      <small><strong>Last Updated: </strong>{{issue?.updated_on?.substring(0,10)}}</small>
    </div>
    <hr class="mt-1"/>
    <div class="row justify-content-start mt-2 mb-3">
      <span class="card-text">{{issue?.issue_text}}</span>
    </div>
    <div class="row justify-content-start mb-1 mt-2">
      <button type="button"
              class="btn btn-sm btn-primary col-auto mr-2">Edit</button>
      <button type="button"
              (click)="closeIssue()"
              class="btn btn-sm btn-warning col-auto mr-2">Close</button>
      <button type="button"
              class="btn btn-sm btn-danger col-auto mr-2">Delete</button>
    </div>
  </div>
</div>