<div class="card">
  <div class="card-body pb-0">
    <h5 class="card-title">{{issue?.issue_title}}</h5>
    <h6 class="card-title"
        [ngClass]="{'text-success': issue?.open}"
        [ngClass]="{'text-danger': !issue?.open}">{{issue?.open ? 'open' : 'closed'}}</h6>
    <span class="card-text">{{issue?.issue_text}}</span>
    <p class="card-subtitle mb-2 text-muted mt-1">Status: {{issue?.status_text}}</p>
    <div class="row justify-content-around">
      <button type="button"
              class="btn btn-sm btn-primary col-auto">Edit</button>
      <button type="button"
              class="btn btn-sm btn-warning col-auto">Close</button>
      <button type="button"
              class="btn btn-sm btn-danger col-auto">Delete</button>
    </div>
    <div class="row justify-content-around mt-2 mb-0">
      <small> <strong class="text-muted">Created By: </strong>{{issue?.created_by}}</small>
      <small><strong class="text-muted">On: </strong>{{issue?.created_on?.substring(0,10)}}</small>
      <small><strong>Updated: </strong>{{issue?.updated_on?.substring(0,10)}}</small>
    </div>
  </div>
</div>